        <footer>
            <div class="container">
                <p>&copy; {{ site.time | date: "%Y" }}</p>
                <nav>
                    <ul>
                        <li><a href="https://veggiekarte.de/#map=17/52.16200/4.48696">Veggie Karte</a></li>
                        <li><a href="https://conference2026.iiif.io/">Conference website</a></li>
                        <li><a href="https://www.conftool.org/iiif2026/">Conftool</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        {% include footer-extras.html %}
