        <link rel="stylesheet" href="https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.89.0/dist/L.Control.Locate.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet.fullscreen/dist/Control.FullScreen.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-theme-control/src/leaflet-theme-control.css" />
        <script type="importmap">
        {
            "imports": {
                "leaflet": "https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.js",
                "leaflet-extra-markers": "https://unpkg.com/leaflet-extra-markers@2.0.1/src/index.js",
                "locatecontrol": "https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.89.0/dist/L.Control.Locate.esm.js",
                "fullscreencontrol": "https://unpkg.com/leaflet.fullscreen/dist/Control.FullScreen.js",
                "themecontrol": "https://unpkg.com/leaflet-theme-control/src/leaflet-theme-control.js"
            }
        }
        </script>
        <script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js" type="module"></script>
        <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
