
        <header class="top-bar">
            <div class="top-bar-container">
                <h1 class="site-title"><a href="{{ site.url }}{{ site.baseurl }}/"><img src="{{ site.url }}{{ site.baseurl }}/assets/logo/iiif_logo.png" alt="International Image Interoperability Framework"><span class="site-title-text">IIIF Conference 2026</span></a></h1>
                <nav>
                    <input type="checkbox" id="button">
                    <label for="button" onclick>Menu</label>
                    <ul>
                        <li{% if page.section == 'home' %} class="active"{% endif %}>
                            <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

