.extra-marker-content {
    svg {
        width: 50%;
        height: auto;
        path, circle {
            fill: #fff;
        }
    }
}
.leaflet-popup-content {
    img.popup-image {
        width:100%;
        height:aut0;
    }
    p {
        margin: 0.65em 0;
    }
}