.top-bar {
	background: var(--top-bar-bg-colour);
	color: var(--top-bar-text-colour);
	padding:0 0 0.5rem 0.5rem;

	h1 {
		margin: 0;
		a, a:hover {
			font-size: 1.4rem;
			color: var(--top-bar-text-colour);
			text-decoration: none;
		}
		img {
			height: 3rem;
			margin-top: 0.5rem;
			margin-bottom: -1rem;
			width: auto;
			margin-right: 0.5rem;
		}
	}
}
